.map-overlay {
font: 12px/12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
opacity: 0.7;
top: 73%;
left: 2%;
right: 2%;
height:25%;
width: 96%;
align-items: center;
background-color: #rgba(200,200,200,0.5);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
border-radius: 0%;
padding: 0.5%;
margin-bottom: 0%;
}

.map-overlay input {
background-color: transparent;
display: inline-block;
width: 90%;
position: relative;
margin: 0%;
cursor: ew-resize;
}

.container {
height: 80%;
width:100%;
scroll-snap-type: y mandatory;
overflow-y:auto;
}

.child {
height: 95%;
padding: 1%;
scroll-snap-align: start;
}

.title{
	font: 72px/72px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	font-weight: 600; 
	float:left; 
	margin-top: 8px;
	margin-bottom:0px;
	padding-left: 8px;
	padding-bottom:8px;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #000088;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.subtitle{
  font: 36px/36px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-style: italic;
  font-weight: 400; 
  float:left; 
  margin-top: 8px;
  margin-bottom:0px;
  padding-left: 8px;
  padding-bottom:8px;
}

.modal-title{
  font: 20px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-weight: 900; 
  text-align: center;
}

.section-name{
	font: 16px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	font-weight: 500; 
	margin-left: 0px;
  margin-top:4px;
	margin-bottom:4px;
}

.control-name{
	font: 16px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	font-weight: 300; 
	margin-left: 20px;
  margin-top:4px;
	margin-bottom:4px;
}

select{
  background:transparent;
   width: 100%;
   padding: 5px;
   font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
   font-size:14px;
   font-weight: 300;
   color:#f0f0f0;
   line-height: 1.2;
   border: 0;
   border-radius: 0;
   height: 30px;
  -webkit-appearance: none;
 
  }

.select-div{
	width: 100%; 
	align-items: center;
	height: 30px;
	overflow: hidden;
	background:  #000000;
	border-top:#575757 0px solid;
	border-bottom:#ffffff 0px solid;
	-webkit-border-radius: 0px 0px 0px 0px;
	 -moz-border-radius: 0px 0px 0px 0px;
		  border-radius: 0px 0px 0px 0px;
	
}

select > option {
	background: gray;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 16px;
  margin-top: -7px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 4px;
  height: 16px;
  margin-top: -7px;
  background: #000000;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  margin: 10px;
  cursor: pointer;
  background: #505050;
}

input[type='range']::-moz-range-track {
  height: 2px;
  margin: 10px;
  cursor: pointer;
  background: #505050;
}

input[type='range']::-ms-track {
  height: 2px;
  margin: 10px;
  cursor: pointer;
  color: transparent;
  background: #505050;
}

input[type='range']::-ms-fill-lower {
  background: transparent;
}

input[type=text] {
  border: 1px solid gray;
  border-radius: 0px;
}

.mapboxgl-popup {
  width:  75%;
	font: 10px/10px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 4%;
    background-color: rgba(255, 255, 255, 0.75);
}
::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

table { 
   padding: 0px; 
   margin: 0px;
   border-collapse: collapse;
}

td {
   padding: 0px; 
   margin: 0px;
}

tr {
   padding: 0px; 
   margin: 0px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255,255,255,1);
  opacity: 0.7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 0px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: rgba(0,0,0,0.3);
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
